<div class="container">
    <h2>Добавить наименование товара</h2>
    <form [formGroup]="addForm">




        <input type="text" class="form-control" placeholder="Название" formControlName="title" />


        <input type="number" min="1" class="form-control" placeholder="Артикул" formControlName="id" />

        <input type="number" min="1" class="form-control" placeholder="Цена" formControlName="price" />
        <input type="text" class="form-control" placeholder="Производитель (необязательно)" formControlName="creator" />
        <input type="number" min="1" class="form-control" placeholder="Вес" formControlName="weight" />
        <input type="number" min="1" class="form-control" placeholder="Количество на складе" formControlName="quantity" />
        <select formControlName="type" class="custom-select">
              <option value="Мебель" >Мебель</option>
              <option value="Техника" >Техника</option>
              <option value="Книги" >Книги</option>
              <option value="Телефоны" >Телефоны</option>
      </select>




        <button [disabled]="addForm.controls['title'].invalid || addForm.controls['id'].invalid || addForm.controls['price'].invalid || addForm.controls['type'].invalid || addForm.controls['weight'].invalid || addForm.controls['quantity'].invalid" class="btn btn-outline-primary btn-sm"
            (click)="onAddProduct()">Добавить</button>

    </form>
    <label for="searchCategory">Фильтр по категориям</label>
    <select class="form-control" [(ngModel)]="searchCategory">
    <option value="">Все</option>
    <option value="Мебель" >Мебель</option>
    <option value="Техника" >Техника</option>
    <option value="Книги" >Книги</option>
    <option value="Телефоны" >Телефоны</option>
</select>
    <button class="btn btn-outline-success" (click)='reverseSortPrice()'>Сортировать по цене</button>
    <button class="btn btn-outline-success" (click)='reverseSortQuantity()'>Сортировать по количеству</button>
    <button class="btn btn-outline-success" (click)='positiveQuantity()'>Позиции в наличии</button>

    <ng-container *ngIf="products.length>0">

        <div class="card-deck ml-auto text-center w-80" *ngFor="let product of products | findPositive:findPositive | filterCategory:searchCategory | sort:sorting:direction">
            <div class="card  box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.title }}, артикул {{ product.id }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ product.price }}<small class="text-muted"> рублей</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{ product.type }}</li>
                        <li *ngIf="product.creator">Производитель {{ product.creator }}</li>
                        <li>Вес {{ product.weight }} кг</li>
                        <li><button class="btn btn-outline-dark rounded-circle" style="width:40px; height:40px" (click)="minusQuantity(product.id)">-</button> Количество на складе: {{ product.quantity }} <button class="btn btn-outline-dark rounded-circle"
                                style="width:40px; height:40px" (click)="addQuantity(product.id)">+</button></li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="showForm(product.id)">Панель редактирования</button>

                    <form [formGroup]="editForm">
                        <div class="d-none " [id]="product.id">



                            <input type="text" class="form-control" placeholder="Название" formControlName="title" />


                            <input type="number" min="1" class="form-control" placeholder="Артикул" formControlName="id" />

                            <input type="number" min="1" class="form-control" placeholder="Цена" formControlName="price" />
                            <input type="text" class="form-control" placeholder="Производитель (необязательно)" formControlName="creator" />
                            <input type="number" min="1" class="form-control" placeholder="Вес" formControlName="weight" />
                            <input type="number" min="1" class="form-control" placeholder="Количество на складе" formControlName="quantity" />
                            <select formControlName="type" class="custom-select">
                              <option value="Мебель" >Мебель</option>
                              <option value="Техника" >Техника</option>
                              <option value="Книги" >Книги</option>
                              <option value="Телефоны" >Телефоны</option>
                      </select>




                            <button [disabled]="editForm.controls['title'].invalid || editForm.controls['id'].invalid || editForm.controls['price'].invalid || editForm.controls['type'].invalid || editForm.controls['weight'].invalid || editForm.controls['quantity'].invalid" class="btn btn-outline-primary btn-sm"
                                (click)="onEditProduct()">Редактировать</button>
                            <button class="btn btn-outline-danger btn-sm" (click)="onDeleteProduct(product.id)">
                            Удалить
                            </button>
                        </div>
                    </form>



                </div>
            </div>

        </div>
    </ng-container>
</div>